<div class="container">
    <h1>The Http Calls using Angular @angular/common/http</h1>
    <input type="button" value="Get" class="btn btn-primary" (click)="loadData()">
    <hr>
    <input type="button" value="Post" class="btn btn-success" (click)="saveData()">
    <hr>
    <hr>
    <input type="button" value="Put" class="btn btn-success" (click)="updateData(productRowId)">
    <hr>
    <hr>
    <input type="button" value="Delete" class="btn btn-success" (click)="deleteData(productRowId)">
    <input type="text" value="ProductId" class="text" [(ngModel)]="productRowId" placeholder="0">
    <hr>
    <div class="container">
        <strong>
            {{products | json}}
        </strong>
    </div>
</div>